.camperDetailsPage {
  outline: 1px solid red;
  outline-offset: -2px;

  padding: 10px;

  @media (min-width: 768px) {
    padding: 20px;
  }

  @media (min-width: 1440px) {
    padding: 48px 64px 80px 64px;
  }
}

.textError,
.textLoading {
  text-align: center;
  margin-top: 40px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--red);
}

.textLoading {
  color: var(--dark);
}

.camperInfo {
  outline: 1px solid red;
  outline-offset: -2px;

  max-width: 375px;
  height: auto;
  margin-bottom: 36px;

  @media (min-width: 768px) {
    max-width: 768px;
    height: auto;
  }

  @media (min-width: 1440px) {
    max-width: 1312px;
    height: 528px;
    margin-bottom: 60px;
  }
}

.name {
  margin-bottom: 8px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.33;

  @media (min-width: 768px) {
    font-size: 20px;
  }

  @media (min-width: 1440px) {
    font-size: 24px;
  }
}

.ratingWrap {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.star {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.ratingReview {
  line-height: 1.5;
  margin-right: 16px;
  border-bottom: 1px solid var(--main);
}

.locationIcon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.location {
  line-height: 1.5;
}

.price {
  margin-bottom: 16px;
  margin-right: 12px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.33;

  @media (min-width: 768px) {
    font-size: 20px;
  }

  @media (min-width: 1440px) {
    font-size: 24px;
    margin-bottom: 28px;
  }
}

.camperGallery {
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    gap: 20px;
    flex-direction: row;
  }

  @media (min-width: 1440px) {
    gap: 24px;
    margin-bottom: 28px;
  }
}

.galleryItem {
  width: 100%;
  height: 230px;
  border-radius: 10px;
  overflow: hidden;

  @media (min-width: 768px) {
    width: 290px;
    height: 290px;
    flex-shrink: 0;
  }

  @media (min-width: 1440px) {
    width: 292px;
    height: 312px;
  }
}

.img {
  height: 100%;
  object-fit: cover;
  object-position: 75%;
}

.description {
  line-height: 1.5;
  color: var(--dark);
}

.camperDetailsLinks {
  display: flex;
  gap: 40px;

  width: 100%;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--gray);

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  @media (min-width: 1440px) {
    width: 1312px;
    margin-bottom: 44px;
  }
}

.link {
  position: relative;
  padding-bottom: 12px;

  @media (min-width: 1440px) {
    padding-bottom: 23px;
  }
}

.active::after {
  position: absolute;
  top: 34px;
  content: '';
  display: block;
  width: 100%;
  height: 6px;
  background-color: var(--red);

  @media (min-width: 1440px) {
    top: 45px;
  }
}

.camperDetails {
  outline: 1px solid red;
  outline-offset: -2px;

  display: flex;
  gap: 20px;
  flex-direction: column;

  max-width: 375px;
  height: auto;

  @media (min-width: 768px) {
    gap: 40px;
    max-width: 768px;
  }

  @media (min-width: 1440px) {
    flex-direction: row;

    max-width: 1312px;
    height: 588px;
  }
}

.camperDetailsInfo {
}
