.containerFavoritesList {
  outline: 1px solid red;
  outline-offset: -2px;

  width: 100%;
  height: auto;

  overflow-x: hidden;
  overflow-y: auto;

  @media (min-width: 768px) {
    width: 100%;
    height: auto;
  }

  @media (min-width: 1440px) {
    width: 888px;
    height: 1664px;
  }
}

.textError,
.textLoading {
  text-align: center;
  margin-top: 40px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--red);
}

.textLoading {
  color: var(--dark);
}

.item {
}

.item:not(:last-child) {
  margin-bottom: 15px;

  @media (min-width: 768px) {
    margin-bottom: 20px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 32px;
  }
}

.btnLoadMore {
  padding: 16px 32px;
  margin: 40px auto 0 auto;

  border: 1px solid var(--gray);
  border-radius: 200px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.btnLoadMore:hover,
.btnLoadMore:focus {
  border-color: var(--dark-red);
}
