.containerCamperCard {
  width: 100%;
  height: auto;

  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  padding: 0 0 15px 0;

  border: 1px solid var(--dark-gray);
  border-radius: 20px;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 20px;
    padding: 20px;
  }

  @media (min-width: 1440px) {
    gap: 24px;
    width: 888px;
    height: 368px;
    padding: 24px;
  }
}

.imgContainer {
  width: 100%;
  height: 230px;

  border-radius: 10px;
  overflow: hidden;

  @media (min-width: 768px) {
    width: 290px;
    height: 290px;
    flex-shrink: 0;
  }

  @media (min-width: 1440px) {
    width: 292px;
    height: 320px;
  }
}

.img {
  height: 100%;
  object-fit: cover;
  object-position: 75%;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: 768px) {
    height: 290px;
  }

  @media (min-width: 1440px) {
    height: 320px;
  }
}

.contWrap {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.name {
  margin-right: auto;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.33;

  @media (min-width: 768px) {
    font-size: 20px;
  }

  @media (min-width: 1440px) {
    font-size: 24px;
  }
}

.price {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.33;

  @media (min-width: 768px) {
    font-size: 20px;
  }

  @media (min-width: 1440px) {
    font-size: 24px;
  }
}

.btnFavorite {
}

.favorite {
  width: 26px;
  height: 24px;
}

.ratingWrap {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.star {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.ratingReview {
  line-height: 1.5;
  margin-right: 16px;
  border-bottom: 1px solid var(--main);
}

.locationIcon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.location {
  line-height: 1.5;
}

.description {
  width: 380px;
  margin-bottom: 20px;
  overflow: hidden;

  line-height: 1.5;
  color: var(--dark);

  white-space: nowrap;
  text-overflow: ellipsis;

  @media (min-width: 1440px) {
    width: 525px;
    margin-bottom: 24px;
  }
}

.equipmentList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  margin-bottom: 16px;

  @media (min-width: 768px) {
    margin-bottom: auto;
  }
}

.equipmentItem {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px 10px;
  border-radius: 100px;

  background-color: var(--light);

  @media (min-width: 1440px) {
    padding: 12px 18px;
  }
}

.equipmentIcon {
  width: 15px;
  height: 15px;
  margin-right: 8px;

  @media (min-width: 1440px) {
    width: 20px;
    height: 20px;
  }
}

.equipmentText {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-transform: capitalize;

  @media (min-width: 1440px) {
    font-size: 16px;
  }
}

.linkCamperdetails {
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 100px;

  background-color: var(--red);
  color: var(--white);

  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;

  transition: background-color var(--transition-delay) var(--transition);

  @media (min-width: 1440px) {
    width: 166px;
    padding: 16px 40px;
    border-radius: 200px;
  }
}

.linkCamperdetails:hover,
.linkCamperdetails:focus {
  background-color: var(--dark-red);
}
