.camperBookForm {
  outline: 1px solid red;
  outline-offset: -2px;

  width: 641px;
  height: 588px;
  padding: 44px 57px;
  border: 1px solid var(--gray);
  border-radius: 10px;
}

.title {
  margin-bottom: 8px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.text {
  margin-bottom: 24px;

  line-height: 1.5;
  color: var(--dark-gray);
}

.label {
  display: block;
  margin-bottom: 14px;
}

.label:nth-child(4) {
  margin-bottom: 24px;
  height: 118px;
}

.input {
  width: 527px;
  padding: 18px;

  border-radius: 12px;
  border: none;
  outline: none;

  background-color: var(--light-grey);
  line-height: 1.5;
}

.label:nth-child(4) > .input {
  height: 100%;
  resize: none;
}

.input::placeholder {
  color: var(--dark-gray);
  line-height: 1.5;
}

.error {
  color: var(--red);
}

.btn {
  width: 166px;
  margin: 0 auto;
  padding: 16px 60px;
  border-radius: 200px;
  background-color: var(--red);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);

  transition: background-color var(--transition-delay) var(--transition);
}

.btn:hover,
.btn:focus {
  background-color: var(--dark-red);
}
