.camperFeatures {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;

  padding: 16px;
  border-radius: 10px;
  background-color: var(--grey);

  @media (min-width: 1440px) {
    width: 631px;
    height: 588px;
    padding: 44px 52px;
  }
}

.equipmentList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  margin-bottom: 24px;

  @media (min-width: 1440px) {
    margin-bottom: auto;
  }
}

.equipmentItem {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px 10px;
  border-radius: 100px;

  background-color: var(--light);

  @media (min-width: 1440px) {
    padding: 12px 18px;
  }
}

.equipmentIcon {
  width: 15px;
  height: 15px;
  margin-right: 8px;

  @media (min-width: 1440px) {
    width: 20px;
    height: 20px;
  }
}

.equipmentText {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  text-transform: capitalize;

  @media (min-width: 1440px) {
    font-size: 16px;
  }
}

parameters {
}

.parametersTitle {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--gray);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  @media (min-width: 1440px) {
    padding-bottom: 23px;
    margin-bottom: 23px;
  }
}

.parametersList {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (min-width: 1440px) {
    gap: 16px;
  }
}

.parametersItem {
  display: flex;
  align-items: center;

  font-weight: 500;
  line-height: 1.5;
}

.itemName {
  margin-right: auto;
}

.itemValue {
  text-transform: capitalize;
  word-spacing: 3px;
}
