.homePage {
  display: flex;
  flex-direction: column;
  height: 100vh;

  padding: 100px 16px 160px 16px;

  background-color: rgba(0, 0, 0, 0.2);

  background-image: url('../../assets/images/HomePage/campers-min.png');
  background-size: cover;
  background-position: center;

  /* retina screen */
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../../assets/images/HomePage/campers@2x-min.png');
  }

  @media (min-width: 768px) {
    display: block;
    padding: 90px 32px 90px 32px;
  }

  @media (min-width: 1440px) {
    padding: 260px 64px;
  }
}

.title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  color: var(--light-grey);

  @media (min-width: 768px) {
    line-height: 0.67;
    margin-bottom: 16px;
    font-size: 48px;
  }
}

.text {
  margin-bottom: auto;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--light-grey);

  @media (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.link {
  width: 173px;
  margin-left: 0;
  padding: 16px 48.5px;
  border-radius: 200px;

  background-color: var(--red);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);

  transition: background-color var(--transition-delay) var(--transition);
}

.link:hover,
.link:focus {
  background-color: var(--dark-red);
}
