.loadMoreBtn {
  padding: 16px 32px;
  margin: 20px auto 0 auto;

  border: 1px solid var(--gray);
  border-radius: 200px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.01em;

  transition: border-color var(--transition-delay) var(--transition);

  @media (min-width: 768px) {
    margin: 40px auto 0 auto;
  }
}

.loadMoreBtn:hover,
.loadMoreBtn:focus {
  border-color: var(--dark-red);
}
